<link rel="stylesheet" href="node_modules/colors.css/css/colors.css">

<h1>{{ title }}</h1>
<p>Contact To Lionel Tolosa  {{ title }}</p>
<form action="/test/submit" method="post">
    <input type="text" name="id">
    <button type="submit">Submit</button>
</form>
